node_modules
.env
coverage
coverage.json
typechain
typechain-types
*.log
.build
.esbuild

# Hardhat files
cache
artifacts
deployments

# Config files
config.json
credentials.json*

# Serverless
.serverless
